@model MenuViewModel

<h1>@Model.Nome</h1>

<table class="table table-hover table-bordered table table-striped">
    <thead>
        <tr>
            <th>Tipologia</th>
            <th>Nome</th>
            <th>Prezzo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Piatti)
        {
            <tr>
                <td>@item.Tipologia</td>
                <td>@item.Nome</td>
                <td>@item.Prezzo</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <th>Prezzo complessivo</th>
            <th>@Model.Piatti.Sum(p => p.Prezzo)</th>
            <th></th>
        </tr>
    </tfoot>
</table>
